<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]= '["/student"]'>Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)= "onOpenModal(null, 'add')">Add Student</a>
        </li>
      </ul>
    </div>
  </nav>

<div class="container" id="main-container">
    <div class="row">
        <div *ngFor="let student of students" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{student?.firstName}} {{student?.lastName}}</h5>
                        <p class="m-0">{{student?.studentId}}</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <a href="#">{{student?.email}}</a></li>
                    <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{student?.phoneNo}}</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a (click)= "onOpenModal(student, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a (click)= "onOpenModal(student, 'delete')" class="btn btn-secondary tooltips" data-placement="top"data-original-title="Delete"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="addStudentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addStudentModalLabel">Add Student</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm= "ngForm" (ngSubmit)= "onAddStudent(addForm)">
              <div class="form-group">
                  <label for="studentId">studentId</label>
                  <input type="number" ngModel name="studentId" class="form-control" id="studentId" placeholder="UserId" required>
              </div>
              <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" ngModel name="firstName" class="form-control" id="firstName" placeholder="First Name" required>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" ngModel name="lastName" class="form-control" id="lastName" placeholder="Last Name" required>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" ngModel name="email" class="form-control" id="email" placeholder="Email" required>
          </div>
          <div class="form-group">
            <label for="phoneNo">Phone Number</label>
            <input type="text" ngModel name="phoneNo" class="form-control" id="phoneNo" placeholder="Phone Number" required>
        </div>

        <div class="modal-footer">
          <button type="button" id= "add-student-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button [disabled]= "addForm.invalid" type="submit" class="btn btn-primary">Add Student</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  </div>

  <!-- Update Modal -->
<div class="modal fade" id="updateStudentModal" tabindex="-1" role="dialog" aria-labelledby="studentEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateStudentModalLabel">Update Student</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form #editForm= "ngForm">
                  <input type="hidden" ngModel="{{editStudent?.studentId}}" name="studentId" id = "studentId" class="form-control" id="studentId" placeholder="UserId">
                <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input type="text" ngModel="{{editStudent?.firstName}}" name="firstName" class="form-control" id="firstName" placeholder="First Name">
              </div>
              <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input type="text" ngModel="{{editStudent?.lastName}}" name="lastName" class="form-control" id="lastName" placeholder="Last Name">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" ngModel="{{editStudent?.email}}" name="email" class="form-control" id="email" placeholder="email">
            </div>
            <div class="form-group">
                <label for="phoneNo">Phone Number</label>
                <input type="text" ngModel="{{editStudent?.phoneNo}}" name="phoneNo" class="form-control" id="phoneNo" placeholder="Phone Number">
            </div>

          <div class="modal-footer">
            <button type="button" id = "edit-student-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button (click)= "onUpdateStudent(editForm.value)" class="btn btn-primary" data-dismiss="modal">Update Student</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>

    <!-- Delete Modal -->
<div class="modal fade" id="deleteStudentModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Student {{deleteStudent?.firstName}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this?</p>>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button (click)= "onDeleteStudent(deleteStudent?.studentId)" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
  </div>