<form [formGroup] = "creditInfoForm">
    <div class = "form-group">
        <label>Credit Card Number:</label>
        <input class = "form-control" type= "text" formControlName = "ccNumber">
        <p *ngIf= "creditInfoForm.controls.ccNumber.errors">This field is required.</p>
    </div>

    <div class = "form-group">
        <label>Card Name:</label>
        <input class = "form-control" type= "text" formControlName = "ccName">
        <p *ngIf= "creditInfoForm.controls.ccName.errors">This field is required.</p>
    </div>

    <div class = "form-group">
        <label>Expiration Date</label>
        <input class = "form-control" type= "date" formControlName= "ccExp">
        <p *ngIf= "creditInfoForm.controls.ccExp.errors">This field is required.</p>
    </div>

    <div class = "form-group">
        <label>CVV: </label>
        <input class = "form-control" type= "number" minlength = "3" maxlength="3" formControlName = "ccCvv">
        <p *ngIf= "creditInfoForm.controls.ccCvv.errors">This field is required.</p>
    </div>
    <button type = "submit" (click)= "submitted = true"> Submit</button>
</form>

<div [hidden]= "!submitted">
    <h3>Credit Information</h3>
    <p>Credit Card Number: {{creditInfoForm.get('ccNumber').value}}</p>
    <p>Credit Card Name: {{creditInfoForm.get('ccName').value}}</p>
    <p>Credit Card Exp Date: {{creditInfoForm.get('ccExp').value}}</p>
    <p>Credit Card CVV: {{creditInfoForm.get('ccCvv').value}}</p>
</div>